@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 >Bem-vindo</h1>
    <hr />

    <p>Esta é a apresentação do projeto final da Academia de DotNet, realizada pela <a href="https://atos.net/en/">Atos</a> em parceria com a <a href="https://www.ufn.edu.br/site/">UFN - Universidade Franciscana</a>.</p>
    <p>Nesta aplicação, temos dois níveis de usuários, que já estão pré-definidos. O nível mais alto é reservado para os Administradores, que podem realizar todas as operações da aplicação. Já o nível mais baixo é reservado aos funcionários, que só podem realizar operações relacionadas aos produtos.</p>
    <p>Para os produtos, podemos realizar as operações de criação, deleção, exibição e edição.</p>
    <p>Para os usuários, podemos realizar a operação de criação, sendo reservada aos administradores.</p>
    <p>Para os log de produtos, podemos realizar as operações de criação, deleção, exibição e edição, sendo reservadas aos administradores.</p>
    <p>Os logs são gerados automaticamente para cada operação relacionada aos produtos.</p>
    <p>A aplicação realiza o controle funcional de um estoque, juntamente com a auditoria desses produtos, gerando relatórios que podem supervisionados pelos administradores.</p>
</>