@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Esta é a apresentação do meu projeto final para a Academia de DotNet da <a href="https://atos.net/en/">Atos</a> em parceria com a <a href="https://www.ufn.edu.br/site/">UFN - Universidade Franciscana</a>.</p>
    <p>Nesta aplicação, há dois níveis usuários, que já estão pré-definidos. O nível mais alto é reservado para os Administradores, que podem realizar todas as operações da aplicação. Já o nível mais baixo é reservado aos funcionários, que só podem realizar operações relacionadas aos produtos.</p>
    <p>Aos produtos, podemos realizar as operações de criação, deleção, exibição e edição.</p>
    <p>Aos usuários, podemos realização a operação de criação, que é uma operação reservada aos administradores.</p>
</div>