@{
    ViewData["Title"] = "Privacidade";
}

<h1>@ViewData["Title"]</h1>
<hr class="mb-2"/>

<h2>Está página detalha as políticas de privacidade da aplicação.</h2>
<br />

<h3 class="fw-bolder">1. Lorem ipsum dolor </h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et cursus enim, et aliquam elit. Morbi eget viverra turpis, ut mollis tortor. Integer blandit nulla eget accumsan tempor. Mauris scelerisque ligula vel mollis pellentesque. Aenean at lectus ac odio congue hendrerit eu a nisl. Praesent luctus elementum erat, eu laoreet lectus dignissim ut. Vivamus vitae laoreet velit. In quis tristique velit. Vivamus accumsan sagittis erat sollicitudin mattis. Nulla aliquam sapien sit amet mattis efficitur. Aliquam erat volutpat. Duis fringilla sagittis porttitor.</p>
<br />

<h3 class="fw-bolder">2. Lorem ipsum dolor </h3>
<p>Morbi ut sollicitudin lacus. Ut congue purus tincidunt, vehicula quam vel, rhoncus mi. Sed sagittis bibendum sapien, ut ultrices nulla consectetur sit amet. Nulla pulvinar varius blandit. Phasellus placerat nisi eget urna elementum, eget dictum metus aliquet. Donec euismod, mi ut blandit suscipit, ante nisl vulputate erat, sit amet ornare turpis sem non ligula. Vivamus aliquet venenatis sapien vitae fringilla. In cursus erat ac pulvinar malesuada. Maecenas ornare libero ut odio aliquam condimentum. Nullam maximus libero ex.</p>
<br />

<h3 class="fw-bolder">3. Lorem ipsum dolor </h3>
<p>Cras ultricies mauris ac turpis vestibulum, non fermentum nunc ullamcorper. Nulla ullamcorper consequat eros. Sed lacinia massa a nunc ultricies porta. Donec eget magna sed est fermentum euismod et at urna. Sed at risus vel justo tincidunt sollicitudin vitae nec elit. Phasellus sed est vel ipsum tincidunt congue sit amet tempor mi. Cras dignissim ornare mi a maximus. Nunc volutpat purus ipsum, ut finibus nibh accumsan vitae. Vivamus enim elit, sodales et risus vel, sollicitudin condimentum nisi. Cras lorem leo, pellentesque ut elementum sed, suscipit vitae sem. Proin nec mi at felis volutpat vestibulum ac et mauris. In at velit a est imperdiet consectetur ut non sapien. Donec pharetra metus vitae sem fringilla, ac scelerisque leo vehicula. Nullam et odio nulla. Cras dignissim justo et justo eleifend porttitor.</p>