@model DesafioFINAL.Produto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoEAN" class="control-label"></label>
                <input asp-for="CodigoEAN" class="form-control" />
                <span asp-validation-for="CodigoEAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estoque" class="control-label"></label>
                <input asp-for="Estoque" class="form-control" />
                <span asp-validation-for="Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJFornecedor" class="control-label"></label>
                <input asp-for="CNPJFornecedor" class="form-control" id="cnpj"/>
                <span asp-validation-for="CNPJFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fornecedor" class="control-label"></label>
                <input asp-for="Fornecedor" class="form-control"/>
                <span asp-validation-for="Fornecedor" class="text-danger"></span>
            </div>           
            <div class="form-group pt-2">
                <input type="submit" value="Cadastrar" class="btn btn-outline-primary"/>
                <a class="btn btn-outline-dark" asp-action="Index">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
