@{
    ViewData["Title"] = "Bem-vindo! Página Inicial.";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo. </h1>
    <p>Está é a minha primeira manipulação em ASP.NET!</p>
</div>
