@{
    ViewData["Title"] = "Mais sobre mim";
}
<h1>@ViewData["Title"]</h1>

<p>Me chamo Leonardo Cardoso Bertinatti.</p>
<p>Atualmente, estou em transição de carreira, fazendo um curso de extensão da Atos em parceria com a UFN.</p>
<p>Meu GitHub: <a href="https://github.com/Bertinatti">Bertinatti.</a></p>
<p>Meu LinkedIn: <a href="https://www.linkedin.com/in/leobertinatti">Leonardo Bertinatti.</a></p>
